@import url("./styles.css");

/*=============== HEADER & NAV ===============*/
/* .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.25);
} */

.header__top {
  background-color: var(--first-color-alt);
  border-bottom: 1px solid var(--first-color);
  padding-block: 0.875rem;
}
  
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__contact span:first-child {
  margin-right: 2rem;
}
  
.header__contact span,
.header__alert-news,
.header__top-action {
  font-size: var(--small-font-size);
}
  
.header__alert-news {
  color: var(--text-color-light);
  font-weight: var(--weight-600);
}

.header__top-action {
  color: var(--text-color);
}

.header__user-actions {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}
  
.nav {
  height: calc(var(--header-height) + 2.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  
.nav__menu {
  position: fixed;
  left: -100%;
  top: 0;
  max-width: 400px;
  width: 100%;
  height: 100%;
  padding: 1.25rem 2rem;
  background-color: var(--body-color);
  z-index: 100;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
  box-shadow: 0 0 15px hsla(0, 0%, 0%, 0.1);
  transition: all .25s var(--transition);
}
  
.show-menu {
  left: 0;
}

.nav__menu-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.nav__menu-logo img {
  width: 140px;
  border-radius: 50%;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  margin-right: auto;
}

.nav__toggle {
  display: flex;
  cursor: pointer;
}

.nav__close {
  font-size: var(--h2-font-size);
  cursor: pointer;
}

.nav__link {
  color: var(--title-color);
  font-family: var(--weight-700);
  transition: all 0.2s var(--transition);
}

.header__search {
  width: 340px;
  position: relative;
}

.header__search .form__input {
  width: 100%;
}

.search__btn {
  position: absolute;
  top: 24%;
  right: 1.25rem;
  cursor: pointer;
}
  
/* Style the suggestions dropdown */
#searchSuggestions {
  border: 1px solid var(--border-color);
  background-color: var(--body-color);
  position: absolute;
  z-index: 10;
  width: 80%;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: var(--first-color);
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
font-size: small;
}

.suggestion-item:hover {
  background-color: var(--first-color-alt);
}

.suggestion-item.active {
  background-color: var(--first-color-alt);
}

.header__action-btn {
  position: relative;
}

.header__action-btn img {
  width: 24px;
}
  
.header__action-btn .count {
  position: absolute;
  top: -0.625rem;
  right: -0.625rem;
  background-color: var(--first-color);
  color: var(--body-color);
  height: 18px;
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  text-align: center;
  font-size: var(--tiny-font-size);
}

/* Active link */
.active-link,
.nav__link:hover {
  color: var(--yellow-color);
  font-weight: var(--weight-700);
}

/* Banner Section */
.banner {
  position: relative;
  width: 100vw;
  height: 100%;
  clip-path: url(#wavePath);
  -webkit-clip-path: url(#wavePath); /* This creates the wave effect at the bottom */
}

.banner__image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__image--small {
  display: none;
}

.banner__image--large {
  display: block;
}

/* For small devices */
@media screen and (max-width: 576px) {
  .banner__image--large {
    display: none;
  }
  
  .banner__image--small {
    display: block;
  }
}