@import url("./styles.css");

@import url("./styles.css");
  
.order__table tr th,
.order__table tr td {
border: 1px solid var(--border-color-alt);
padding: .5rem;
text-align: center;
}

.order__table tr th {
color: var(--title-color);
font-size: var(--small-font-size);
}

.order__img {
width: 80px;
}

.table__quantity,
.order__subtitle {
font-size: var(--small-font-size);
}

.order__grand-total {
color: var(--first-color);
font-size: var(--large-font-size);
font-weight: var(--weight-700);
}