/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4rem;

  /*========== Colors ==========*/
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: #B8C6DE;
  --first-color-alt: #B8C6DE;
  --second-color: #FFC22F;
  --title-color: hsl(0, 0%, 13%);
  --text-color: hsl(154, 13%, 32%);
  --text-color-light: hsl(60, 1%, 56%);
  --body-color: #F6EFE0;
  --container-color: hsl(0, 0%, 93%);
  --border-color: #B8C6DE;
  --border-color-alt: #B8C6DE;
  --yellow-color: #B8C6DE;
  --red-color: #000;
  --black-color: #000;


  /*========== Font and typography ==========*/
  /* .5rem = 8px | 1rem = 16px ... */
  --body-font: 'Lato', sans-serif;
  --second-font: 'Spartan', sans-serif;
  --big-font-size: 3.5rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.375rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.6875rem;

  /*========== Font weight ==========*/
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*========== Transition ==========*/
  --transition:cubic-bezier(0, 0, 0.05, 1);
}

/* Responsive typography */
@media screen and (max-width: 1200px) {
  :root {
    --big-font-size: 2.25rem;
    --h1-font-size: 2rem;
    --h2-font-size: 1.375rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 1.125rem;
    --large-font-size: 1rem;
    --normal-font-size: 0.9375rem;
    --small-font-size: 0.8125rem;
    --smaller-font-size: 0.6875rem;
    --tiny-font-size: 0.625rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea,
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-400);
}

body {
  background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-600);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5rem;
}

img {
  max-width: 100%;
}

button,
textarea,
input {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2rem;
}

.section--lg {
  padding-block: 1rem;
}

.section__title {
  font-size: var(--h4-font-size);
  margin-bottom: 1.5rem;
}

.section__title span {
  color: var(--red-color);
}

.form__input {
  border: 1px solid var(--border-color-alt);
  padding-inline: 1rem;
  height: 45px;
  border-radius: .25rem;
  font-size: var(--small-font-size);
}

.form__input select {
  appearance: none;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.new__price {
  color: var(--first-color);
  font-weight: var(--weight-600);
}

.old__price {
  color: var(--text-color-light);
  font-size: var(--small-font-size);
  text-decoration: line-through;
}

.form {
  row-gap: 1rem;
}

.form__group {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.textarea {
  height: 200px;
  padding-block: 1rem;
  resize: none;
}

/*=============== BUTTONS ===============*/
.btn {
  display: inline-block;
  background-color: var(--yellow-color);
  border: 2px solid var(--yellow-color);
  color: var(--body-color);
  padding-inline: 1.75rem;
  height: 49px;
  line-height: 49px;
  border-radius: .25rem;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-700);
  transition: all 0.4s var(--transition);
}

.btn:hover {
  background-color: transparent;
  color: var(--yellow-color);
}

.btn--md,
.btn--sm {
  font-family: var(--body-font);
}

.btn--md {
  height: 45px;
  line-height: 42px;
}

.btn-sm {
  height: 40px;
  line-height: 36px;
}

.flex {
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

/*=============== PRODUCTS ===============*/
.tab__btns {
  display: flex;
  flex-wrap: wrap;
  gap: .75rem;
  margin-bottom: 2rem;
}

.tab__btn {
  background-color: var(--container-color);
  color: var(--title-color);
  padding: 1rem 1.25rem .875rem;
  border-radius: .25rem;
  font-family: var(--second-font);
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
  cursor: pointer;
}

.products__container {
  grid-template-columns: repeat(4, 1fr);
}

.product__item {
  border: 1px solid var(--border-color);
  border-radius: 1.5rem;
  transition: all .2s var(--transition);
}

.product__banner {
  padding: .625rem .75rem .75rem;
}

.product__banner,
.product__images {
  position: relative;
}

.product__images {
  display: block;
  /* overflow: hidden; */
  border-radius: 1.25rem;
}

.product__img {
  vertical-align: middle;
  transition: all 1.5s var(--transition);
}

.product__item:hover .product__img {
  transform: scale(1.1);
}

.product__img.hover {
  position: absolute;
  top: 0;
  left: 0;
}

.action__btn {
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--first-color-alt);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  font-size: var(--small-font-size);
  position: relative;
}

.action__btn::before,
.action__btn::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.action__btn::before {
  content: '';
  top: -2px;
  border: .5rem solid transparent;
  border-top-color: var(--border-color);

}

.action__btn::after {
  content: attr(aria-label);
  bottom: 100%;
  background-color: var(--border-color);
  color: var(--body-color);
  font-size: var(--small-font-size);
  white-space: nowrap;
  padding-inline: .625rem;
  border-radius: 0.25rem;
  line-height: 2.58;
}

.product__badge {
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: .25rem .625rem;
  border-radius: 2.5rem;
  font-size: var(--tiny-font-size);
}

.product__badge.light-pink {
  background-color: var(--red-color);
}

.product__badge.light-green {
  background-color: hsl(155, 20%, 67%);
}

.product__content {
  padding: 0 1.25rem 1.125rem;
  position: relative;
}

.product__category {
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
}

.product__title {
  font-size: var(--normal-font-size);
  margin-block: 0.75rem 0.5rem;
}

.product__rating {
  color: hsl(42, 100%, 50%);
  font-size: var(--smaller-font-size);
  margin-bottom: 0.75rem;
}

.product__price .new__price {
  font-size: var(--large-font-size);
}

.cart__btn {
  position: absolute;
  bottom: 1.6rem;
  right: 1.25rem;
  background-color: var(--body-color);
  border-color: var(--yellow-color);
  border-width: 2px;
}

.fi-rs-shopping-bag-add {
  color: var(--yellow-color);
}

/* Active Tab */
.tab__btn.active-tab {
  color: var(--first-color);
  background-color: var(--second-color);
}

.tab__item:not(.active-tab) {
  display: none;
}

/* Product Hover */
.product__img.hover,
.action__btn::before,
.action__btn::after,
.product__item:hover .product__img.default {
  opacity: 0;
}

.product__item:hover {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.product__item:hover .product__img.hover,
.product__item:hover,
.action__btn:hover::before,
.action__btn:hover::after {
  opacity: 1;
}

.action__btn:hover::before,
.action__btn:hover::after {
  transform: translateX(-50%) translateY(-0.5rem);
}

.action__btn:hover {
  background-color: var(--body-color);
  border-color: var(--yellow-color);
  color: var(--body-color);
}
/*=============== BREADCRUMBS ===============*/
.breadcrumb {
  padding-block: 1.5rem;
}

.breadcrumb__list {
  column-gap: .75rem;
}

.breadcrumb__link {
  color: var(--text-color);
  font-size: var(--small-font-size);
}

/*=============== SHOP ===============*/

/*=============== WISHLIST ===============*/

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }

  .products__container {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .countdown {
    column-gap: 1rem;
  }

  .countdown__period {
    width: 36px;
    height: 36px;
    line-height: 36px;
  }

  .countdown__amount::after {
    right: -30%;
    top: 14%;
  }

  .checkout__group:nth-child(2) {
    padding: 1.5rem;
  }
}

/* For medium devices */
@media screen and (max-width: 992px) {
  .container {
    max-width: 740px;
  }

  .deals__container,
  .checkout__container,
  .cart__group {
    grid-template-columns: 1fr;
  }

  .cart__group {
    row-gap: 2.75rem;
  }

  .home__img {
    justify-self: center;
  }

  .btn {
    height: 45px;
    line-height: 45px;
  }

  .btn--md {
    height: 42px;
    line-height: 39px;
  }

  .btn--sm {
    height: 38px;
    line-height: 35px;
  }

  .products__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .login,
  .register {
    padding: 1.25rem;
  }

  .table tr th:nth-child(1),
  .table tr td:nth-child(1) {
    width: 140px;
  }

  .table tr th:nth-child(2),
  .table tr td:nth-child(2) {
    width: 330px;
  }

  .table tr th:nth-child(3),
  .table tr td:nth-child(3) {
    width: 80px;
  }

  .table tr th:nth-child(4),
  .table tr td:nth-child(4) {
    width: 160px;
  }

  .table tr th:nth-child(5),
  .table tr td:nth-child(5) {
    width: 160px;
  }

  .table tr th:nth-child(6),
  .table tr td:nth-child(6) {
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .login-register__container {
    grid-template-columns: 100%;
  }

  .products__container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .tab__header,
  .tab__body {
    padding: 0.75rem;
  }
}

/* For small devices */
@media screen and (max-width: 576px) {
  .section--lg {
    padding-block: 0;
  }

  .cart__btn {
    bottom: 0.5rem;
  }

  .deals__item,
  .checkout__group:nth-child(2) {
    padding: 1.25rem;
  }

  .pagination {
    column-gap: .5rem;
    margin-top: 2.5rem;
  }

  .form__group {
    grid-template-columns: 1fr;
  }

  .cart__total {
    padding: 1.25rem;
  }
  
  .payment__methods {
    margin-block: 2.25rem 2.5rem;
  }

  .review__single {
    column-gap: 1rem;
  }
}

@media screen and (max-width: 350px) {
  .action__btn {
    width: 36px;
    height: 36px;
    line-height: 38px;
  }

  .cart__btn {
    bottom: 0;
    right: 1.25rem;
  }

  .cart__total-table tr td {
    display: block;
    width: 100%;
  }
}
